<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add a New Throw</h1>
        <div style="width: 40%; margin: 25px auto;">
            <form action="/throws" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="New Throw">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="New Image URL">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
            <a href="/throws">Go Back</a>
        </div>
    </div>
</div>
<% include partials/footer %>